/*client/css/Chart.css*/
.chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .chart {
    width: 100%;
    height: 400px;
  }
  
  .chart-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  