.custom-navbar {
  background-color: #00a3e0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  cursor: pointer;
}

.logo {
  height: 50px;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold;
}

.user-section {
  display: flex;
  align-items: center;
}

.user-name {
  margin-right: 10px;
  color: white;
}

.user-profile {
  border-radius: 50%;
  height: 35px;
  margin-right: 10px;
}

.logout-button {
  background: none;
  border: none;
  color: #8b0000;
  font-weight: bold;
  cursor: pointer;
}
